{% extends "base.html" %}
{% block content %}
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <p>2 years of working experience in the sales department, and 1 year in the electronic and IoT field. Possess
                the skill and knowledge in sound problem-solving as well as excellent decision-making skills. Deep
                knowledge in development methodologies with great communication skills. Exceptional interpersonal
                and influencing skills equipped with great time management along with the ability in planning and
                prioritise workload effectively.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="../static/profile.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>IoT Developer &amp; Python Developer</h3>
                <p class="fst-italic">
                    Making training content for Arduino, Raspberry Pi and IoT. Research and
                    Development for IoT Project. Machine Learning especially in Image
                    Processing using OpenCV
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>29 February 1996</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://hazrien.herokuapp.com/" target="_blank">hazrien.herokuapp.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span><a href="tel:+6013-7594904">013-7594904</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Shah Alam, Selangor</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Undergraduate</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:hazrien.nazman@gmail.com">hazrien.nazman@gmail.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                </div>
                <p>
                    Involved with a solar project in Pekan, Pahang for 3 months. In the
                    education field, works as a facilitator in teaching IoT to students and lecturers in secondary school and
                    institutes of higher education.    
                </p>
            </div>
        </div>

    </div>
</section>
{% endblock %}