{% extends "base.html" %}
{% block content %}

<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Hazrien Nazman</h4>
                        <p><em>2 years of working experience in the sales department, and 1 year in the electronic and IoT field. Possess the skill and knowledge in sound problem-solving as well as excellent decision-making skills.</em></p>
                        <ul>
                            <li>Shah Alam, Selangor, Malaysia</li>
                            <li><a href="tel:+6013-7594904">013-7594904</a></li>
                            <li><a href="mailto:hazrien.nazman@gmail.com">hazrien.nazman@gmail.com</a></li>
                        </ul>
                    </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Engineering (Hons) Electronic Engineering</h4>
                    <h5>2017 - 2020</h5>
                    <p><em>Universiti Teknologi MARA (UiTM) </em></p>
                    <p>Major in Advance computing and communication</p>
                </div>
                <div class="resume-item">
                    <h4>Diploma in in Electrical Engineering (Electronic)</h4>
                    <h5>2014 - 2016</h5>
                    <p><em>Universiti Teknologi MARA (UiTM) </em></p>
                    <p>Major in Computer Engineering</p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>

                    <div class="resume-item">
                        <h4>Technical IoT Developer</h4>
                        <h5> September 2021 - Present</h5>
                        <p><em>Myinvent Technologies Sdn Bhd</em></p>
                        <ul>
                            <li>Making training content for Arduino, Raspberry Pi and IoT</li>
                            <li>Research and Development for IoT Project</li>
                            <li>Machine Learning especially in Image Processing using OpenCV</li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <h4>Technical Support Engineer</h4>
                        <h5>October 2020 - September 2021</h5>
                        <p><em>Realme Malaysia</em></p>
                        <ul>
                            <li>Repair realme phone by following the company SOP</li>
                            <li>Managed to repair all phone under 1 hour</li>
                            <li>Troubleshooting the phone before the repair</li>
                            <li>Advice customer how to take care of their phone</li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <h4>Supervisor</h4>
                        <h5>July 2020 - September 2020</h5>
                        <p><em>Sol Power Engineering (SPE)</em></p>
                        <ul>
                            <li>Teamwork with the worker to complete the task given with highest efficiency</li>
                            <li>Setup FTP server to use within site area</li>
                            <li>Planning the task for the worker and supervise them</li>
                        </ul>
                    </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}